<form (ngSubmit)="register()" class="p-fluid">
  <div class="p-field">
    <label for="email">Email</label>
    <input
      pInputText
      [(ngModel)]="email"
      name="email"
      type="email"
      placeholder="Email"
      required
    />
  </div>
  <div class="p-field">
    <label for="password">密碼</label>
    <input
      pPassword
      [(ngModel)]="password"
      name="password"
      placeholder="密碼"
      required
    />
  </div>
  <button pButton type="submit" label="註冊"></button>
  <p-message *ngIf="error" severity="error" [text]="error"></p-message>
</form> 